/* selected tag{
   property: value;
}*/
/* .first{
  color: green;
  font-size: 50px;
  text-align: center;
  background-color: gray;
  font-style:bold;
  font-size-adjust: auto;

}
p{
  text-align: center;
  padding-left: 20px;
}
.second{
  color:green;
  font-size: 20px;
  font-style:oblique;
  font-weight: 1000;
}
.third{
  p{
    color:green;
    font-size: 15px;
    text-align:center;
  }
}
p{
  color: red;
}
html{
  background: url(             https://specials-images.forbesimg.com/imageserve/617853670/960x0.jpg?fit=scale             );

  border-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  image-resolution: from-image;
}
ol{
  color: green;
  background-color: black;
  shape-margin: 2px;
  border: 2px;
  width: 20%;
  background-position: center;
  margin: 10px 20px 10px 500px;

}
.emailform{
  background-position:center;
  background-size: auto;
  margin-bottom: 10px;
  width: 15%;
  margin: 10px 20px 10px 500px;
  font-size: 1.5em;
}
.containor{
  background-color: red;
  background-position: center;
  background-size: auto;

} */
